---
layout: default
title: "&lambda; Lab"
desc: Neerja Katiyar's website
ishome: yes
---

<br>
<!--   <div>
  <h1 align="center">"This is the quote for lab."</h1>
</div><br><br> -->
<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-primary" style="padding: 0px 20px">
      <h3><a href="research.html">Research</a></h3>
      <p>Learn more about our research</p>
      <div class="panel-body" style="height: 240px; overflow-y: scroll">
        <li><a href="research.html"> RNA Sequencing </a></li><br>
        <li><a href="research.html"> Whole genome sequencing </a></li><br>
        <li><a href="research.html"> Variant Analysis </a></li><br>
        <li><a href="research.html"> Metagenomics </a></li><br>

      </div>
      <p><a class="btn btn-default" style="border:none" href="research.html" role="button">More &raquo;</a></p>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-primary" style="padding: 0px 20px">
      <h3><a href="https://nkatiyar.github.io/blog/">Blog</a></h3>
      <p>Most recent posts</p>
      <div class="panel-body" style="height: 240px; overflow-y: scroll">
        {% for post in site.categories.blog limit: 5 %}
          <li><a href={{ post.url }}> {{ post.post_title }} </a></li><br>
        {% endfor %}
      </div>
      <p><a class="btn btn-default" style="border:none" href="blog/" role="button">More &raquo;</a></p>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-primary" style="padding: 0px 20px">
      <h3><a href="pubs.html">Publications</a></h3>
      <p>Our latest works</p>
      <div class="panel-body" style="height: 240px; overflow-y: scroll">
        {% include recent_pubs.html %}
      </div>
      <p><a class="btn btn-default" style="border:none" href="publications.html" role="button">More &raquo;</a></p>
    </div>
  </div>
</div>

<br>
<div class="row">
  <div class="col-sm-4">
    <p align="center">
    <a href="https://github.com/nkatiyar"><img src="/images/github_logo.png" margin-bottom: 10px" width="45px">
    </p>
    <h4 align="center">Code on GitHub</h4></a>
  </div>
</div>
<br>
